.order_form__input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #6c757d;
    border-radius: 5px;
    padding: 5px 10px;
}

.order_form__checkbox {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

.order_form__fieldset {
    border: 1px solid #6c757d;
    border-radius: 5px;
}

.order_form__button {
    color: #6c757d;
    background: #FFFFFF;
    margin-top: 25px;
}

.order_form__button:hover {
    background: #6c757d;
    color: #FFFFFF;
}

.order_form__row {
    display: flex;
    justify-content: space-evenly;
}

.order_form__row div:not(:last-child) {
    margin-right: 5px;
}

.order_form__width_75 {
    width: 75% !important;
}

.order_form__width_50 {
    width: 50% !important;
}

.order_form__width_25 {
    width: 25% !important;
}