.payroll_pay_item__layout {
    display: flex;
    justify-content: space-between;
}

.payroll_pay_item__layout div:not(:last-child) {
    margin-right: 5px;
}

.payroll_pay_item__layout button {
    background-color:#e0e0e0;
}

.payroll_pay_item__amount {
    width: 20%;
}
.payroll_pay_item__date {
    width: 50%;
}
.payroll_pay_item__payment {
    width: 20%;
}

.payroll_pay_item__action {
    width: 10%;
}