.payroll_pay_add__layout {
    display: flex;
    justify-content: space-between;
}

.payroll_pay_add__layout div:not(:last-child) {
    margin-right: 5px;
}

.payroll_pay_add__layout input, .payroll_pay_add__layout button {
    background-color:#e0e0e0;
}

.payroll_pay_add__field {
    width: 100%;
}