.login {
    max-width: 300px;
    margin: 0 auto;
    padding: 15px 0;
}

.login__message {
    text-align: center;
}

.login__input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #6c757d;
    border-radius: 5px;
    padding: 5px 10px;
}

.login__button {
    color: #6c757d;
    background: #FFFFFF;
    margin-top: 25px;
}

.login__button:hover {
    background: #6c757d;
    color: #FFFFFF;
}