.modal__overlay {
    display:flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
}

.modal {
    width: 700px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #ffffff;
}

.modal__header {
    display:flex;
    justify-content: space-between;
}

.modal__close a {
    color: #6c757d;
}