.order-dialog-delete__input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #6c757d;
    border-radius: 5px;
    padding: 5px 10px;
}

.order-dialog-delete__button {
    color: #6c757d;
    background: #FFFFFF;
    margin-top: 5px;
}

.order-dialog-delete__button:hover {
    background: #6c757d;
    color: #FFFFFF;
}