.order_item__layout {
    display: flex;
    justify-content: space-between;

    margin: 15px 20px;
    padding: 5px 20px;

    border-radius: 10px;
}

.order_item__layout > div:not(:last-child), .order_item__row > div:not(:last-child) {
    margin-right: 5px;
}

.order_item__row {
    display: flex;
    justify-content: space-between;

    width: 100%; 
}

.order_item__col {
    width: 100%; 
}

.order_item__attention {
    color: #ff5757;
}

.order_item__layout_open {
    background-color: #e4f5e1;
}

.order_item__layout_close {
    background-color: #f5e1e1;
}

.order_item__note {
    word-break: break-all;
    padding: 10px 10px 0 0;
    border-radius: 5px;
}

.order_item__doc_active {
    border-radius: 3px;
    background-color: #cccccc;
    padding: 3px;
}

.order_item__mark_active {
    border-radius: 3px;
    background-color: #f5d4d4;
    padding: 0 3px;
}

.order_item__action a {
    color: #6c757d;
}

.order_item__relevate {
    position: relative;
}

.order_item__absolute {
    position: absolute;
    bottom: 0;
}

.order_item__value {
    font-weight: bold;
}

.order_item__width_1 {
    width: 15.5%;
}

.order_item__width_2 {
    width: 35%;
}

.order_item__width_3 {
    width: 20%;
}

.order_item__width_4 {
    width: 20%;
}

.order_item__width_5 {
    width: 15.5%;
}
