header {
    background-color: #343a40;
    color: #6c757d;
}

header a {
    color: #6c757d;
}

.header__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header__logo a {
    font-size: 2rem;
}

.header__menu {
    display: flex;
}

.header__horizontal_menu {
    margin-right: 20px;
}

.header__horizontal_menu a:not(:last-child) {
    margin-right: 10px;
}

.header__dropdown {
    position: relative;
}

.header__dropdown a {
    margin-right: 10px;
}

.header__dropdown_menu {
    display: none;

    position: absolute;

    list-style: none;
    margin: 0;
    padding: 5px 0;
    border-radius: 0 0 5px 5px;
    border: 1px solid #6c757d;
    background: #343a40;
    width: 100%;
}

.header__dropdown_menu_open {
    display: block;
}

.header__dropdown_menu li {
    padding: 5px 10px;
}

.header__dropdown_menu li:hover {
    background: #2e343a;
}