.order_page__control {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 10px 20px;
}

.order_page__info {
    display: flex;
    justify-content: space-between;

    margin: 10px 20px;
}