.order_form_select_manager {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #6c757d;
    border-radius: 5px;
    padding: 5px 10px;
}

.order_form_select_manager__layout_error {
    color: #ff5757;
}

.order_form_select_manager__error {
    border-color: #ff5757;
}

.order_form_select_manager__message_error {
    font-size: 0.8rem;
}