.payroll_item__layout {
    margin: 5px;
    padding: 5px 20px;

    background-color:#e0e0e0;
    border-radius: 10px;

    width: 325px;
}

.payroll_item__row {
    display: flex;
    justify-content: space-between;
}

.payroll_item__name {
    font-weight: bold;
}

.payroll_item__action a {
    color: #6c757d;
}

.payroll_item__action a:not(:last-child) {
    margin-right: 5px;
}

.payroll_item__relevate {
    position: relative;
}

.payroll_item__absolute {
    position: absolute;
    right: 20px;
    bottom: 10px;
    left: 20px;
}

.payroll_item__pay_list {
    margin: 10px 0 60px 0;
}